name: Build

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build Action
    steps:
      - uses: actions/checkout@v3
      - name: Get dependencies
        run: 'yarn'
#       - name: Build output
#         run: 'yarn build'
      - uses: ./
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Action Built Successfully"
          push_options: --force
